<mat-drawer-container class="mat-drawer-container" autosize>
  
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <ul class="sideNavigation">
      
      <li (click)="toggleSubMenuDashboards()" class="menuItem color-697a8d">
        <div class="align-items-center"><span class="material-icons mr-8px">home</span>Dashboards</div>
        <div class="align-items-center"><span id="dashboard-arrow" class="material-icons ml-48px">chevron_right</span></div>
      </li>
      <ul id="sub-menu-dashboards" class="subMenu" [class.show] = "subMenuDashboard">
        <li class="menuItem color-697a8d">Analytics</li>
        <li class="menuItem color-697a8d">CRM</li>
        <li class="menuItem color-697a8d">eCommerce</li>
      </ul>
      <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">space_dashboards</span><span class="ml-minus-24px">Layouts</span></li>

      <li class="menuHeader color-697a8d text-uppercase"><span class="material-icons-outlined">horizontal_rule</span><span>Apps & Pages</span></li>
      <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">email</span>Email</li>
      <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">chat_bubble_outline</span>Chat</li>
      <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">calendar_month</span>Calendar</li>
      <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">view_kanban</span>Kanban</li>
      <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">receipt_long</span>Invoice</li>
      <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">people</span>Users</li>
      <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">verified_user</span>Roles & Permissions</li>
      <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">web</span>Pages</li>
      <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">lock_open</span>Authentications</li>
      <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">dvr</span>Wizard Examples</li>
      <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">open_in_browser</span>Modal Examples</li>

      <li class="menuHeader color-697a8d text-uppercase"><span class="material-icons-outlined">horizontal_rule</span><span>Components</span></li>
      <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">content_copy</span>Cards</li>
      <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">desktop_windows</span>User Interface</li>
      <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">web_stories</span>Extended UI</li>
      <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">emoji_emotions</span>Icons</li>

      <li class="menuHeader color-697a8d text-uppercase"><span class="material-icons-outlined">horizontal_rule</span><span>Forms & Tablets</span></li>
      <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">list_alt</span>Form Elements</li>
      <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">format_shapes</span>Form Layouts</li>
      <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">video_settings</span>Form Wizard</li>
      <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">fact_check</span>Form Validation</li>
      <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">table_chart</span>Tables</li>
      <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">analytics</span>Datatables</li>

      <li class="menuHeader color-697a8d text-uppercase"><span class="material-icons-outlined">horizontal_rule</span><span>Charts & Maps</span></li>
      <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">trending_up</span>Charts</li>
      <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">map</span>Leaflet Maps</li>

      <li class="menuHeader color-697a8d text-uppercase"><span class="material-icons-outlined">horizontal_rule</span><span>Misc</span></li>
      <li class="menuItem color-697a8d"><span class="material-icons mr-8px">home</span>Support</li>
      <li class="menuItem color-697a8d"><span class="material-icons mr-8px">headset_mic</span>Documentation</li>
  
      
    </ul>
  </mat-drawer>
  
  
  <div class="example-sidenav-content">
        <mat-card class="myToolbar">
          <!-- <button class="searchButtonToolbar" mat-raised-button (click)="initiateSearch()">
            <mat-icon>search</mat-icon>
            <span>Search</span>
          </button> -->
          <div id="toolbar-components" class="toolbarComponents">
            <button class="openMenuButton" mat-button (click)="openMenu()">
              <mat-icon>menu</mat-icon>
            </button>
            <button class="searchButtonToolbar" mat-button (click)="initiateSearch()">
              <mat-icon>search</mat-icon>
              <span>Search</span>
            </button>
            <div class="toolbarRightElements">
              <span class="material-icons color-697a8d cursor-pointer mr-16px">language</span>
              <span class="material-icons-outlined color-697a8d cursor-pointer mr-16px"
              #tooltip="matTooltip"
              matTooltip="Dark mode"
              [matTooltipPosition]="position.value">dark_mode</span>
              <div class="gridDropDown mr-16px">
                <span (click)="checkVisited()" class="material-icons-outlined color-697a8d cursor-pointer">grid_view</span>
                <!-- <div id="shortcuts-container" class="shortcutsContainer" [class.show] = "isVisited"> -->
                  <mat-card id="shortcuts-container" class="shortcutsContainer" [class.show] = "isVisited">
                    <div class="shortcutsHeader">
                      <span class="color-697a8d">Shortcuts</span>
                      <span class="plusButton material-icons-outlined color-697a8d"
                      #tooltip="matTooltip"
                      matTooltip="Add shortcuts"
                      [matTooltipPosition]="below.value">add_circle_outline</span>
                    </div>
                    <div class="shortcutsContent">
                      <div class="shortcutsRow">
                        <div class="shortcutElement br-1px">
                          <button class="mb-8px" mat-fab color="primary">
                            <mat-icon>calendar_month</mat-icon>
                          </button>
                          <span class="color-697a8d font-size-14px bold">Calendar</span>
                          <span class="color-a1acb8 font-size-12px">Appointments</span>
                        </div>
                        <div class="shortcutElement">
                          <button class="mb-8px" mat-fab color="primary">
                            <mat-icon>manage_accounts</mat-icon>
                          </button>
                          <span class="color-697a8d font-size-14px bold">Invoice App</span>
                          <span class="color-a1acb8 font-size-12px">Manage Accounts</span>
                        </div>
                      </div>
                      <div class="shortcutsRow">
                        <div class="shortcutElement br-1px">
                          <button class="mb-8px" mat-fab color="primary" aria-label="Example icon button with a delete icon">
                            <mat-icon>person_outline</mat-icon>
                          </button>
                          <span class="color-697a8d font-size-14px bold">User App</span>
                          <span class="color-a1acb8 font-size-12px">Manage Users</span>
                        </div>
                        <div class="shortcutElement">
                          <button class="mb-8px" mat-fab color="primary">
                            <mat-icon>verified_user</mat-icon>
                          </button>
                          <span class="color-697a8d font-size-14px bold">Role Management</span>
                          <span class="color-a1acb8 font-size-12px">Permission</span>
                        </div>
                      </div>
                      <div class="shortcutsRow">
                        <div class="shortcutElement br-1px">
                          <button class="mb-8px" mat-fab color="primary">   
                            <!-- for another color, simply delete color="primary" and set another on in .scss file
                            using .mat-mdc-fab.mat-primary, .mat-mdc-mini-fab.mat-primary {
                            --mdc-fab-container-color: #HEXCOLOR -->
                            <mat-icon>space_dashboard</mat-icon> 
                          </button>
                          <span class="color-697a8d font-size-14px bold">Dashboard</span>
                          <span class="color-a1acb8 font-size-12px">User Profile</span>
                        </div>
                        <div class="shortcutElement">
                          <button class="mb-8px" mat-fab color="primary">
                            <mat-icon>settings</mat-icon>
                          </button>
                          <span class="color-697a8d font-size-14px bold">Setting</span>
                          <span class="color-a1acb8 font-size-12px">Account Settings</span>
                        </div>
                      </div>
                    </div>
                  </mat-card>
                <!-- </div> -->
              </div>
              <span class="material-icons-outlined color-697a8d cursor-pointer mr-16px">notifications</span>
              <img class="toolbarAvatar cursor-pointer mr-16px" src="./../assets/img/jd.jpeg">
            </div>
          </div>

          <div id="searchbar-components" class="searchBarComponents d-none">
            <input class="searchInputFieldToolbar" type="text" placeholder="Search...">
            <span (click)="closeSearch()" class="material-icons color-697a8d cursor-pointer">close</span>
          </div>
        </mat-card>
    <div class="routerContainer">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>

<div class="mobileMenu" [class.show] = "menuOpened">
  <ul class="sideNavigation justify-content-center">
      
    <li (click)="toggleSubMenuDashboards()" class="menuItem color-697a8d">
      <div class="align-items-center"><span class="material-icons mr-8px">home</span>Dashboards</div>
      <div class="align-items-center"><span id="dashboard-arrow" class="material-icons ml-48px">chevron_right</span></div>
    </li>
    <ul id="sub-menu-dashboards" class="subMenu">
      <li class="menuItem color-697a8d">Analytics</li>
      <li class="menuItem color-697a8d">CRM</li>
      <li class="menuItem color-697a8d">eCommerce</li>
    </ul>
    <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">space_dashboards</span><span class="ml-minus-24px">Layouts</span></li>

    <li class="menuHeader color-697a8d text-uppercase"><span class="material-icons-outlined">horizontal_rule</span><span>Apps & Pages</span></li>
    <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">email</span>Email</li>
    <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">chat_bubble_outline</span>Chat</li>
    <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">calendar_month</span>Calendar</li>
    <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">view_kanban</span>Kanban</li>
    <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">receipt_long</span>Invoice</li>
    <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">people</span>Users</li>
    <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">verified_user</span>Roles & Permissions</li>
    <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">web</span>Pages</li>
    <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">lock_open</span>Authentications</li>
    <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">dvr</span>Wizard Examples</li>
    <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">open_in_browser</span>Modal Examples</li>

    <li class="menuHeader color-697a8d text-uppercase"><span class="material-icons-outlined">horizontal_rule</span><span>Components</span></li>
    <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">content_copy</span>Cards</li>
    <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">desktop_windows</span>User Interface</li>
    <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">web_stories</span>Extended UI</li>
    <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">emoji_emotions</span>Icons</li>

    <li class="menuHeader color-697a8d text-uppercase"><span class="material-icons-outlined">horizontal_rule</span><span>Forms & Tablets</span></li>
    <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">list_alt</span>Form Elements</li>
    <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">format_shapes</span>Form Layouts</li>
    <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">video_settings</span>Form Wizard</li>
    <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">fact_check</span>Form Validation</li>
    <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">table_chart</span>Tables</li>
    <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">analytics</span>Datatables</li>

    <li class="menuHeader color-697a8d text-uppercase"><span class="material-icons-outlined">horizontal_rule</span><span>Charts & Maps</span></li>
    <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">trending_up</span>Charts</li>
    <li class="menuItem color-697a8d"><span class="material-icons-outlined mr-8px">map</span>Leaflet Maps</li>

    <li class="menuHeader color-697a8d text-uppercase"><span class="material-icons-outlined">horizontal_rule</span><span>Misc</span></li>
    <li class="menuItem color-697a8d"><span class="material-icons mr-8px">home</span>Support</li>
    <li class="menuItem color-697a8d"><span class="material-icons mr-8px">headset_mic</span>Documentation</li>

    
  </ul>
</div>